<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.randy.EmoEaseApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>emoease</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSNotificationUsageDescription</key>
	<string>我们需要通知权限来提醒您记录日记和情绪</string>
	<key>Privacy - Network Usage Description</key>
	<string>EmoEase 需要访问网络以提供 AI 情绪分析服务</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UNNotificationDefaultAuthorizationOptions</key>
	<array>
		<string>alert</string>
		<string>badge</string>
		<string>sound</string>
	</array>
</dict>
</plist>
